h1{
  
}
.change{
    color:rgb(64, 255, 47);

}
.change1{
    color: rgb(0, 102, 255);
}
.change2{
    color: rgba(255, 187, 0, 0.774);
}
.button-color{
    background-color: rgba(0, 110, 255, 0.733);
}
.header-area{
    display: flex;
}
.right-side{
    width: 50%;
    margin: 5px;
}
.left-side{
    width: 50%;
    margin-right: 200px;
    padding-right: 200px;
}